@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
#container {
  width: 100%;
}
header {
  height: 100vh;
}
#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  background: url(./images/bg-pattern-intro-desktop.svg) no-repeat,
    linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: 25% 53%;
  border-radius: 0 0 0 100px;
}
nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  margin: 0 auto;
}
#logo {
  margin-right: 50px;
}
.right-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav li {
  font-size: 20px;
  color: white;
  margin: 0 20px;
  cursor: pointer;
}

.dropdown-content {
  padding: 10px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: gray;
  font-size: 17px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover span {
  text-decoration: underline;
}

.dropdown:hover img {
  transform: rotate(180deg);
}
#signup-btn {
  padding: 10px 30px;
  background: white;
  border-radius: 30px;
  color: black;
}

#signup-btn:hover,
#start-btn:hover {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: white;
}

#home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
#home-content h2 {
  font-size: 4rem;
}
#home-content p {
  font-size: 20px;
  margin: 30px 0;
}

.home-btns {
  margin-top: 20px;
}

.home-btns button {
  width: 200px;
  text-decoration: none;
  color: #ff525d;
  padding: 15px 30px;
  background: white;
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}
#learn-btn {
  background: transparent;
  color: white;
}

#learn-btn:hover {
  background: white;
  color: #ff525d;
}

.first-details-section {
  overflow-x: hidden;
}
.first-details-section h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  margin-top: 50px;
}
.first-main-details {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.first-main-details-left {
  min-width: 50%;
  padding: 30px 0;
}

.first-main-details-left h3 {
  font-size: 30px;
  margin-top: 70px;
}
.first-main-details-left p {
  margin-top: 30px;
  line-height: 30px;
}

.first-main-details img {
  margin: -100px 0 0 80px;
}

.second-details-section {
  height: 400px;
  margin: 70px 0;
  background: url(./images/bg-pattern-circles.svg) no-repeat,
    linear-gradient(to right, #2c2d3f, #3f4164);
  background-position: -50% 85%;
  border-radius: 0 120px;
}

.second-details-main {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
.second-details-main img {
  margin-top: 60px;
}
.second-detais-right {
  padding: 30px;
}
.second-detais-right h2 {
  font-size: 40px;
  margin: 30px 0;
}
.second-detais-right p {
  line-height: 30px;
}

.third-details-section {
  margin: 70px 0;
}

.third-main-details {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.third-main-details-right h3 {
  font-size: 30px;
  margin-top: 70px;
}
.third-main-details-right p {
  margin-top: 30px;
  line-height: 30px;
}
.third-main-details img {
  margin-left: -440px;
}
footer {
  background: hsl(240, 10%, 16%);
  border-radius: 0 120px 0 0;
}
#footer-flex {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  color: hsl(240, 2%, 79%);
}
h4 {
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}
#footer-flex ul {
  list-style: none;
}
#footer-flex li {
  margin: 10px 0;
  cursor: pointer;
}
#footer-flex li:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1300px) {
  nav {
    width: 90%;
  }
  #signup-btn {
    margin-right: 0;
  }
  .first-main-details img {
    width: 50%;
    margin: 0;
  }
  .first-main-details-left,
  .third-main-details-right {
    margin: 0 30px;
  }
  .third-main-details img {
    width: 50%;
    margin: 0;
  }
}
@media screen and (max-width: 950px) {
  #home-content {
    width: 90%;
    margin: 0 auto;
  }
  .first-main-details {
    flex-direction: column-reverse;
  }
  .first-main-details img {
    margin: 30px 0;
  }
  .first-main-details-left {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .first-main-details-left h3 {
    margin: 50px 0 20px 0;
  }
  .second-details-section {
    height: auto;
  }
  .second-details-main {
    flex-direction: column;
    margin-top: 200px;
  }
  .second-details-main img {
    width: 50%;
    margin-top: -150px;
  }
  .second-detais-right {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
  }
  .third-main-details {
    flex-direction: column;
  }
  .third-main-details-right {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    text-align: justify;
  }
  #home p {
    text-align: center;
  }
}
@media screen and (max-width: 880px) {
  .right-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #home-content h2 {
    font-size: 3.5rem;
  }
  .home-btns button {
    margin: 5px 10px;
  }
  .image {
    min-width: 320px;
  }
  #footer-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0 30px 0;
  }
  #footer-flex img {
    margin-bottom: 20px;
  }
  h4 {
    margin: 30px 0;
  }
}
